<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>activity insta</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>this is activity insta page @<%= data.name %></h1>
    <button>follow</button>
    <button>message</button>

    <!--For displaying followers and following-->
    <p>Followers: <%= data.followers %> &nbsp; &nbsp; &nbsp; &nbsp; Following: <%= data.following %></p> 
    
    <!--To display posts-->
    <% for(post of data.posts) {%>
        <img src="<%=post.image%>" alt="some image">
        <p>likes: <%= post.likes %> &nbsp; &nbsp; &nbsp; &nbsp; comments: <%= post.comments %></p> 
    <%}%>

    <script src="/app.js"></script>
</body>
</html>